<p style="color:dodgerblue; font-size:30px; font-weight:bold">Assignment 2</p>
<p style="color:black; font-size:50px; font-weight:bold">Data Cleaning</p>
<br>
<p style="color:red; font-size:18px; font-weight:bold">February 22th, 2017</p>

### Overview
**How to submit this:** Submit this assignment through CMS.

**Objectives:** Learn different R-specific techniques to write a clean, coherent, and cost-efficient R script, and become familiar with filling missing values to a given data using data imputation.

## Problem 1 - Apply Family
*Includes: exercise apply functions*

R contains built-in package, datasets, which includes multiple dataframes. In this assignment, we are going to use two datasets, one for the New York Air Quality Measurements, and the other for the Topographic Information on Auckland's Maunga Whau Volcano from this library.

### 1-1 Initial Setup

You can find datasets by typing *datasets::* followed by the name of the file, in this case *airquality* and *volcano*. Store these data.frames into variables *AirData* and *Volcano*.

In [2]:
library("datasets")
AirData <- datasets::airquality
summary(AirData)
Volcano <- datasets::volcano
summary(Volcano)

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

       V1              V2              V3            V4              V5
 Min.   : 97.0   Min.   : 97.0   Min.   : 97   Min.   : 98.0   Min.   : 98.0
 1st Qu.:106.5   1st Qu.:107.5   1st Qu.:108   1st Qu.:108.5   1st Qu.:109.0
 Median :111.0   Median :113.0   Median :114   Median :115.0   Median :116.0
 Mean   :110.6   Mean   :111.8   Mean   :113   Mean   :114.1   Mean   :115.1
 3rd Qu.:115.0   3rd Qu.:116.0   3rd Qu.:117   3rd Qu.:118.0   3rd Qu.:119.0
 Max.   :124.0   Max.   :128.0   Max.   :131   Max.   :134.0   Max.   :136.0
       V6              V7              V8              V9
 Min.   : 99.0   Min.   : 99.0   Min.   : 99.0   Min.   :100.0
 1st Qu.:109.5   1st Qu.:109.5   1st Qu.:108.5   1st Qu.:109.0
 Median :117.0   Median :118.0   Median :120.0   Median :122.0
 Mean   :116.1   Mean   :117.1   Mean   :118.1   Mean   :119.4
 3rd Qu.:120.0   3rd Qu.:121.5   3rd Qu.:123.0   3rd Qu.:125.0
 Max.   :138.0   Max.   :140.0   Max.   :142.0   Max.   :144.0
      V10             V11             V12             V13             V14
 Min.   :100.0   Min.   :100.0   Min.   : 99.0   Min.   : 99.0   Min.   : 99
 1st Qu.:108.5   1st Qu.:110.5   1st Qu.:112.5   1st Qu.:114.5   1st Qu.:115
 Median :124.0   Median :126.0   Median :128.0   Median :132.0   Median :135
 Mean   :121.3   Mean   :123.3   Mean   :125.4   Mean   :127.6   Mean   :130
 3rd Qu.:128.0   3rd Qu.:132.0   3rd Qu.:135.0   3rd Qu.:138.5   3rd Qu.:141
 Max.   :147.0   Max.   :149.0   Max.   :151.0   Max.   :154.0   Max.   :157
      V15             V16             V17             V18
 Min.   : 99.0   Min.   : 99.0   Min.   :100.0   Min.   :100.0
 1st Qu.:115.5   1st Qu.:116.5   1st Qu.:117.5   1st Qu.:118.5
 Median :139.0   Median :142.0   Median :145.0   Median :148.0
 Mean   :132.7   Mean   :135.0   Mean   :137.1   Mean   :139.1
 3rd Qu.:144.0   3rd Qu.:147.0   3rd Qu.:150.0   3rd Qu.:150.0
 Max.   :161.0   Max.   :165.0   Max.   :168.0   Max.   :172.0
      V19             V20             V21             V22
 Min.   :100.0   Min.   :100.0   Min.   :100.0   Min.   :100.0
 1st Qu.:120.5   1st Qu.:122.5   1st Qu.:125.0   1st Qu.:126.5
 Median :150.0   Median :150.0   Median :153.0   Median :153.0
 Mean   :141.1   Mean   :143.2   Mean   :145.2   Mean   :147.1
 3rd Qu.:153.5   3rd Qu.:157.0   3rd Qu.:161.0   3rd Qu.:166.0
 Max.   :175.0   Max.   :178.0   Max.   :181.0   Max.   :184.0
      V23             V24             V25             V26
 Min.   :101.0   Min.   :101.0   Min.   :100.0   Min.   :100.0
 1st Qu.:126.5   1st Qu.:127.5   1st Qu.:127.5   1st Qu.:126.0
 Median :153.0   Median :153.0   Median :154.0   Median :155.0
 Mean   :148.9   Mean   :150.0   Mean   :150.8   Mean   :151.3
 3rd Qu.:170.0   3rd Qu.:173.5   3rd Qu.:176.5   3rd Qu.:176.5
 Max.   :187.0   Max.   :190.0   Max.   :190.0   Max.   :190.0
      V27             V28             V29             V30
 Min.   :100.0   Min.   :100.0   Min.   :100.0   Min.   :100.0
 1st Qu.:126.5   1st Qu.:126.5   1st Qu.:125.5   1st Qu.:124.5
 Median :154.0   Median :155.0   Median :154.0   Median :155.0
 Mean   :151.1   Mean   :150.4   Mean   :149.4   Mean   :148.4
 3rd Qu.:173.5   3rd Qu.:170.5   3rd Qu.:169.0   3rd Qu.:167.0
 Max.   :191.0   Max.   :192.0   Max.   :193.0   Max.   :194.0
      V31             V32             V33             V34
 Min.   :100.0   Min.   :100.0   Min.   :100.0   Min.   :100.0
 1st Qu.:125.0   1st Qu.:124.0   1st Qu.:122.5   1st Qu.:123.0
 Median :153.0   Median :152.0   Median :150.0   Median :149.0
 Mean   :147.5   Mean   :146.4   Mean   :145.3   Mean   :144.3
 3rd Qu.:166.0   3rd Qu.:164.5   3rd Qu.:164.0   3rd Qu.:163.0
 Max.   :195.0   Max.   :194.0   Max.   :193.0   Max.   :192.0
      V35             V36           V37             V38             V39
 Min.   : 99.0   Min.   : 99   Min.   : 98.0   Min.   : 97.0   Min.   : 97.0
 1st Qu.:122.0   1st Qu.:121   1st Qu.:121.0   1st Qu.:120.5   1st Qu.:119.5
 Median :148.0   Median :146   Median :145.0   Median :142.0   Median :140.0
 Mean   :143.6   Mean   :143   Mean   :142.5   Mean   :141.8   Mean   :141.2
 3rd Qu.:162.0   3rd Qu.:162   3rd Qu.:161.0   3rd Qu.:161.5   3rd Qu.:163.5
 Max.   :192.0   Max.   :191   Max.   :191.0   Max.   :191.0   Max.   :190.0
      V40             V41             V42             V43
 Min.   : 97.0   Min.   : 96.0   Min.   : 96.0   Min.   : 96.0
 1st Qu.:118.0   1st Qu.:116.5   1st Qu.:114.5   1st Qu.:113.0
 Median :140.0   Median :139.0   Median :137.0   Median :133.0
 Mean   :140.4   Mean   :139.4   Mean   :138.1   Mean   :136.4
 3rd Qu.:165.0   3rd Qu.:163.0   3rd Qu.:161.5   3rd Qu.:158.5
 Max.   :190.0   Max.   :189.0   Max.   :186.0   Max.   :185.0
      V44             V45             V46             V47
 Min.   : 95.0   Min.   : 95.0   Min.   : 95.0   Min.   : 95.0
 1st Qu.:111.5   1st Qu.:110.0   1st Qu.:108.5   1st Qu.:108.5
 Median :130.0   Median :127.0   Median :124.0   Median :122.0
 Mean   :134.7   Mean   :132.6   Mean   :130.3   Mean   :128.4
 3rd Qu.:157.0   3rd Qu.:154.5   3rd Qu.:151.0   3rd Qu.:148.5
 Max.   :184.0   Max.   :181.0   Max.   :181.0   Max.   :180.0
      V48             V49             V50             V51
 Min.   : 94.0   Min.   : 94.0   Min.   : 94.0   Min.   : 94.0
 1st Qu.:107.5   1st Qu.:107.0   1st Qu.:104.5   1st Qu.:102.5
 Median :119.0   Median :117.0   Median :115.0   Median :115.0
 Mean   :126.2   Mean   :124.3   Mean   :122.0   Mean   :119.5
 3rd Qu.:146.0   3rd Qu.:143.0   3rd Qu.:139.0   3rd Qu.:133.5
 Max.   :179.0   Max.   :175.0   Max.   :171.0   Max.   :162.0
      V52             V53             V54             V55
 Min.   : 94.0   Min.   : 94.0   Min.   : 94.0   Min.   : 94.0
 1st Qu.:100.5   1st Qu.:101.5   1st Qu.:102.0   1st Qu.:102.5
 Median :113.0   Median :112.0   Median :110.0   Median :110.0
 Mean   :117.0   Mean   :114.9   Mean   :112.8   Mean   :111.0
 3rd Qu.:128.5   3rd Qu.:125.0   3rd Qu.:120.0   3rd Qu.:116.0
 Max.   :154.0   Max.   :149.0   Max.   :142.0   Max.   :136.0
      V56             V57             V58             V59
 Min.   : 94.0   Min.   : 94.0   Min.   : 94.0   Min.   : 94.0
 1st Qu.:102.0   1st Qu.:101.5   1st Qu.:100.5   1st Qu.:100.0
 Median :109.0   Median :108.0   Median :106.0   Median :106.0
 Mean   :109.0   Mean   :107.4   Mean   :105.8   Mean   :104.6
 3rd Qu.:113.5   3rd Qu.:111.0   3rd Qu.:110.0   3rd Qu.:108.0
 Max.   :130.0   Max.   :124.0   Max.   :119.0   Max.   :116.0
      V60             V61
 Min.   : 94.0   Min.   : 94.0
 1st Qu.:100.0   1st Qu.:100.0
 Median :105.0   Median :104.0
 Mean   :103.8   Mean   :103.2
 3rd Qu.:107.0   3rd Qu.:107.0
 Max.   :113.0   Max.   :110.0

<br>
From now on, you need to decide which apply function will be most useful for each subproblem and use that function to perform operations. Every answer of each subproblem can be done in one-line if apply functions are properly used.

### 1-2 Topographic Analysis of Volcano

Calculate the highest point in each row from *Volcano* data.frame and print them out in vector output. (1 line)

In [3]:
apply(Volcano, 1, max)

 [1] 110 116 121 127 132 137 142 147 152 159 164 168 174 179 183 187 189 191 193
[20] 195 192 190 190 187 185 183 181 181 180 180 180 178 178 177 178 179 180 180
[39] 180 179 175 170 168 166 168 169 170 170 170 170 168 162 159 157 155 153 151
[58] 150 150 150 150 150 150 150 150 150 150 147 144 141 138 133 129 125 122 118
[77] 115 113 112 111 111 111 110 109 109 106 101

Then calculate the lowest point in each column from the same data.frame. Print them out in vector output. (1 line)

In [4]:
apply(Volcano, 2, min)

 [1]  97  97  97  98  98  99  99  99 100 100 100  99  99  99  99  99 100 100 100
[20] 100 100 100 101 101 100 100 100 100 100 100 100 100 100 100  99  99  98  97
[39]  97  97  96  96  96  95  95  95  95  94  94  94  94  94  94  94  94  94  94
[58]  94  94  94  94

### 1-3 Mean of Variables in AirData

Calculate the median of variables Ozone, Solar.R, Wind, and Temp (columns in our data.frame) from *AirData* and print them out (ignore the missing values) in 1) list output and 2) vector output. (total 2 lines)

In [5]:
lapply(AirData[,1:4], median, na.rm = TRUE)
sapply(AirData[,1:4], median, na.rm = TRUE)

$Ozone
[1] 31.5

$Solar.R
[1] 205

$Wind
[1] 9.7

$Temp
[1] 79

  Ozone Solar.R    Wind    Temp
   31.5   205.0     9.7    79.0

### 1-4 Analysis by Category in AirData

Now we will perform a more specific analysis of *AirData*. Calculate the average temperature of each month in the dataset. (1 line)

In [6]:
tapply(airquality$Temp, airquality$Month, mean, na.rm = TRUE)

       5        6        7        8        9
65.54839 79.10000 83.90323 83.96774 76.90000

Then calculate the total amount of solar radiation of each month. (1 line)

In [7]:
tapply(AirData$Solar.R, AirData$Month, sum, na.rm = TRUE)

   5    6    7    8    9
4895 5705 6711 4812 5023

<br>
## Problem 2 - Data Manipulation
*Includes: r base functions, dplyr, plyr, sqldf (optional) packages*

In this section, you will practice ways to manipulate your data to meet specific input requirements for analysis. To answer the questions below, you are free to use any of the three ways, to manipulate your data in class: R base functions, dplyr or plyr, and the sql query method unless specified by the question. You are, however, required to use a R base function and a dplyr function at least once in this section. Failure to do so will result in half your points being deducted in this whole section!

### 2-0 Create Indices Column
Before we start our data manipulation, creating an indices column would be helpful. Create vector called *ind* and enumerate from 1 to the total number of rows in *AirData* dataset.

In [8]:
ind <- c(1:nrow(AirData))

Then combine it with the original *AirData* so that *ind* column is the first column of the dataset.

In [9]:
AirData <- cbind(ind, AirData)

### 2-1 Subset selection
Let’s say you want to do a deep analysis of each day’s temperature, and therefore, don’t need columns other than *Temp, Month*, and *Day*. Select the subset from the *AirData* with only *ind, Temp, Month*, and *Day* columns and store the data.frame into a variable *tmd*.

In [10]:
tmd<-subset(AirData,select=c(1,5,6,7))

Store the rest of the columns *ind, Ozone, Solar.R*, and *Wind* into a variable *osw*.

In [11]:
osw<-subset(AirData,select=c(1,2,3,4))

### 2-2 Filtering
While browsing through the *AirData* dataset, you noticed some days had exceptionally more Solar Radiation than others. You’ve realized these are outliers that need to be separated from others. Filter out the rows with Solar.R greater than 200 lang from the data.frame *osw* and store the data.frame into a variable *largeSolarR*.

In [13]:
largeSolarR<-dplyr::filter(AirData,Solar.R>200)
largeSolarR

   ind Ozone Solar.R Wind Temp Month Day
1   4   18   313     11.5 62   5      4
2   7   23   299      8.6 65   5      7
3  12   16   256      9.7 69   5     12
4  13   11   290      9.2 66   5     13
5  14   14   274     10.9 68   5     14
6  16   14   334     11.5 64   5     16
7  17   34   307     12.0 66   5     17
8  19   30   322     11.5 68   5     19
9  22   11   320     16.6 73   5     22
10 26   NA   266     14.9 58   5     26
11 29   45   252     14.9 81   5     29
12 30  115   223      5.7 79   5     30
13 31   37   279      7.4 76   5     31
14 32   NA   286      8.6 78   6      1
15 33   NA   287      9.7 74   6      2
16 34   NA   242     16.1 67   6      3
17 36   NA   220      8.6 85   6      5
18 37   NA   264     14.3 79   6      6
19 39   NA   273      6.9 87   6      8
20 40   71   291     13.8 90   6      9
21 41   39   323     11.5 87   6     10
22 42   NA   259     10.9 93   6     11
23 43   NA   250      9.2 92   6     12
24 45   NA   332     13.8 80   6     14
25 46   NA   322     11.5 79   6     15
26 48   37   284     20.7 72   6     17
27 55   NA   250      6.3 76   6     24
28 62  135   269      4.1 84   7      1
29 63   49   248      9.2 85   7      2
30 64   32   236      9.2 81   7      3
⋮  ⋮   ⋮     ⋮       ⋮    ⋮    ⋮     ⋮
46  90  50   275      7.4 86   7     29
47  91  64   253      7.4 83   7     30
48  92  59   254      9.2 81   7     31
49  99 122   255      4.0 89   8      7
50 100  89   229     10.3 90   8      8
51 101 110   207      8.0 90   8      9
52 102  NA   222      8.6 92   8     10
53 105  28   273     11.5 82   8     13
54 111  31   244     10.9 78   8     19
55 113  21   259     15.5 77   8     21
56 115  NA   255     12.6 75   8     23
57 116  45   212      9.7 79   8     24
58 117 168   238      3.4 81   8     25
59 118  73   215      8.0 86   8     26
60 120  76   203      9.7 97   8     28
61 121 118   225      2.3 94   8     29
62 122  84   237      6.3 96   8     30
63 130  20   252     10.9 80   9      7
64 131  23   220     10.3 78   9      8
65 132  21   230     10.9 75   9      9
66 133  24   259      9.7 73   9     10
67 134  44   236     14.9 81   9     11
68 135  21   259     15.5 76   9     12
69 136  28   238      6.3 77   9     13
70 139  46   237      6.9 78   9     16
71 140  18   224     13.8 67   9     17
72 142  24   238     10.3 68   9     19
73 143  16   201      8.0 82   9     20
74 144  13   238     12.6 64   9     21
75 153  20   223     11.5 68   9     30

### 2-3 Joins
Now you have two data.frames that you created: *largeSolarR* and *tmd*. We want to merge them together by index assigned to each specific row. Perform an *inner join*, that is, the merged output should only contain data points with indices shared by the two tables.

In [15]:
joins=plyr::join(largeSolarR,tmd,by="ind",type="left")

### 2-4 Aggregation, counting
Let’s see how much variation the temperature has in each month. Calculate the standard deviation of the temperature column by each month and store that data.frame into a variable *tempByMonth*.

In [16]:
df <- aggregate(formula = Temp~Month,  #aggregate mean
                data = airquality, FUN=sd)

Now, you want to see if the *AirData* has a complete data for each month it has (in other words, if there are 31 days of data for May and 30 days of data for June, etc). Count the frequency of the data for each month, and store the data.frame into a variable *monthFreq*.

In [17]:
df <- plyr::count(airquality, vars='Month')

### 2-5 Feature Generation using mutate
One of your friends from China has been complaining that *AirData* dataset is too hard to understand because the temperature unit is in Farenheit. So you decided to create a new column called *TempC*. Create and append this new column with the corresponding temperature of the day in Celsius. Use dplyr package’s mutate() function to generate this new column.

In [20]:
AirData <- dplyr::mutate(AirData,TempC=(5/9)*(Temp-32))
print(AirData)

    ind Ozone Solar.R Wind Temp Month Day    TempC
1     1    41     190  7.4   67     5   1 19.44444
2     2    36     118  8.0   72     5   2 22.22222
3     3    12     149 12.6   74     5   3 23.33333
4     4    18     313 11.5   62     5   4 16.66667
5     5    NA      NA 14.3   56     5   5 13.33333
6     6    28      NA 14.9   66     5   6 18.88889
7     7    23     299  8.6   65     5   7 18.33333
8     8    19      99 13.8   59     5   8 15.00000
9     9     8      19 20.1   61     5   9 16.11111
10   10    NA     194  8.6   69     5  10 20.55556
11   11     7      NA  6.9   74     5  11 23.33333
12   12    16     256  9.7   69     5  12 20.55556
13   13    11     290  9.2   66     5  13 18.88889
14   14    14     274 10.9   68     5  14 20.00000
15   15    18      65 13.2   58     5  15 14.44444
16   16    14     334 11.5   64     5  16 17.77778
17   17    34     307 12.0   66     5  17 18.88889
18   18     6      78 18.4   57     5  18 13.88889
19   19    30     322 11.5   68     5  19 20.00000
20   20    11      44  9.7   62     5  20 16.66667
21   21     1       8  9.7   59     5  21 15.00000
22   22    11     320 16.6   73     5  22 22.77778
23   23     4      25  9.7   61     5  23 16.11111
24   24    32      92 12.0   61     5  24 16.11111
25   25    NA      66 16.6   57     5  25 13.88889
26   26    NA     266 14.9   58     5  26 14.44444
27   27    NA      NA  8.0   57     5  27 13.88889
28   28    23      13 12.0   67     5  28 19.44444
29   29    45     252 14.9   81     5  29 27.22222
30   30   115     223  5.7   79     5  30 26.11111
31   31    37     279  7.4   76     5  31 24.44444
32   32    NA     286  8.6   78     6   1 25.55556
33   33    NA     287  9.7   74     6   2 23.33333
34   34    NA     242 16.1   67     6   3 19.44444
35   35    NA     186  9.2   84     6   4 28.88889
36   36    NA     220  8.6   85     6   5 29.44444
37   37    NA     264 14.3   79     6   6 26.11111
38   38    29     127  9.7   82     6   7 27.77778
39   39    NA     273  6.9   87     6   8 30.55556
40   40    71     291 13.8   90     6   9 32.22222
41   41    39     323 11.5   87     6  10 30.55556
42   42    NA     259 10.9   93     6  11 33.88889
43   43    NA     250  9.2   92     6  12 33.33333
44   44    23     148  8.0   82     6  13 27.77778
45   45    NA     332 13.8   80     6  14 26.66667
46   46    NA     322 11.5   79     6  15 26.11111
47   47    21     191 14.9   77     6  16 25.00000
48   48    37     284 20.7   72     6  17 22.22222
49   49    20      37  9.2   65     6  18 18.33333
50   50    12     120 11.5   73     6  19 22.77778
51   51    13     137 10.3   76     6  20 24.44444
52   52    NA     150  6.3   77     6  21 25.00000
53   53    NA      59  1.7   76     6  22 24.44444
54   54    NA      91  4.6   76     6  23 24.44444
55   55    NA     250  6.3   76     6  24 24.44444
56   56    NA     135  8.0   75     6  25 23.88889
57   57    NA     127  8.0   78     6  26 25.55556
58   58    NA      47 10.3   73     6  27 22.77778
59   59    NA      98 11.5   80     6  28 26.66667
60   60    NA      31 14.9   77     6  29 25.00000
61   61    NA     138  8.0   83     6  30 28.33333
62   62   135     269  4.1   84     7   1 28.88889
63   63    49     248  9.2   85     7   2 29.44444
64   64    32     236  9.2   81     7   3 27.22222
65   65    NA     101 10.9   84     7   4 28.88889
66   66    64     175  4.6   83     7   5 28.33333
67   67    40     314 10.9   83     7   6 28.33333
68   68    77     276  5.1   88     7   7 31.11111
69   69    97     267  6.3   92     7   8 33.33333
70   70    97     272  5.7   92     7   9 33.33333
71   71    85     175  7.4   89     7  10 31.66667
72   72    NA     139  8.6   82     7  11 27.77778
73   73    10     264 14.3   73     7  12 22.77778
74   74    27     175 14.9   81     7  13 27.22222
75   75    NA     291 14.9   91     7  14 32.77778
76   76     7      48 14.3   80     7  15 26.66667
77   77    48     260  6.9   81     7  16 27.22222
78   78    35     274 10.3   82     7  17 27.77778
79   79    61     285  6.3   84     7  18 28.88889
80   80    79     187  5.1   87     7  19 30.55556
81   81    63     220 11.5   85     7  20 29.44444
82   82    16       7  6.9   74     7  21 23.33333
83   83    NA     258  9.7   81     7  22 27.22222
84   84    NA     295 11.5   82     7  23 27.77778
85   85    80     294  8.6   86     7  24 30.00000
86   86   108     223  8.0   85     7  25 29.44444
87   87    20      81  8.6   82     7  26 27.77778
88   88    52      82 12.0   86     7  27 30.00000
89   89    82     213  7.4   88     7  28 31.11111
90   90    50     275  7.4   86     7  29 30.00000
91   91    64     253  7.4   83     7  30 28.33333
92   92    59     254  9.2   81     7  31 27.22222
93   93    39      83  6.9   81     8   1 27.22222
94   94     9      24 13.8   81     8   2 27.22222
95   95    16      77  7.4   82     8   3 27.77778
96   96    78      NA  6.9   86     8   4 30.00000
97   97    35      NA  7.4   85     8   5 29.44444
98   98    66      NA  4.6   87     8   6 30.55556
99   99   122     255  4.0   89     8   7 31.66667
100 100    89     229 10.3   90     8   8 32.22222
101 101   110     207  8.0   90     8   9 32.22222
102 102    NA     222  8.6   92     8  10 33.33333
103 103    NA     137 11.5   86     8  11 30.00000
104 104    44     192 11.5   86     8  12 30.00000
105 105    28     273 11.5   82     8  13 27.77778
106 106    65     157  9.7   80     8  14 26.66667
107 107    NA      64 11.5   79     8  15 26.11111
108 108    22      71 10.3   77     8  16 25.00000
109 109    59      51  6.3   79     8  17 26.11111
110 110    23     115  7.4   76     8  18 24.44444
111 111    31     244 10.9   78     8  19 25.55556
112 112    44     190 10.3   78     8  20 25.55556
113 113    21     259 15.5   77     8  21 25.00000
114 114     9      36 14.3   72     8  22 22.22222
115 115    NA     255 12.6   75     8  23 23.88889
116 116    45     212  9.7   79     8  24 26.11111
117 117   168     238  3.4   81     8  25 27.22222
118 118    73     215  8.0   86     8  26 30.00000
119 119    NA     153  5.7   88     8  27 31.11111
120 120    76     203  9.7   97     8  28 36.11111
121 121   118     225  2.3   94     8  29 34.44444
122 122    84     237  6.3   96     8  30 35.55556
123 123    85     188  6.3   94     8  31 34.44444
124 124    96     167  6.9   91     9   1 32.77778
125 125    78     197  5.1   92     9   2 33.33333
126 126    73     183  2.8   93     9   3 33.88889
127 127    91     189  4.6   93     9   4 33.88889
128 128    47      95  7.4   87     9   5 30.55556
129 129    32      92 15.5   84     9   6 28.88889
130 130    20     252 10.9   80     9   7 26.66667
131 131    23     220 10.3   78     9   8 25.55556
132 132    21     230 10.9   75     9   9 23.88889
133 133    24     259  9.7   73     9  10 22.77778
134 134    44     236 14.9   81     9  11 27.22222
135 135    21     259 15.5   76     9  12 24.44444
136 136    28     238  6.3   77     9  13 25.00000
137 137     9      24 10.9   71     9  14 21.66667
138 138    13     112 11.5   71     9  15 21.66667
139 139    46     237  6.9   78     9  16 25.55556
140 140    18     224 13.8   67     9  17 19.44444
141 141    13      27 10.3   76     9  18 24.44444
142 142    24     238 10.3   68     9  19 20.00000
143 143    16     201  8.0   82     9  20 27.77778
144 144    13     238 12.6   64     9  21 17.77778
145 145    23      14  9.2   71     9  22 21.66667
146 146    36     139 10.3   81     9  23 27.22222
147 147     7      49 10.3   69     9  24 20.55556
148 148    14      20 16.6   63     9  25 17.22222
149 149    30     193  6.9   70     9  26 21.11111
150 150    NA     145 13.2   77     9  27 25.00000
151 151    14     191 14.3   75     9  28 23.88889
152 152    18     131  8.0   76     9  29 24.44444
153 153    20     223 11.5   68     9  30 20.00000

<br>
## Problem 3 - Data Manipulation Continued
*Includes: tidyr package*

Let's continue our exercises in data manipulation. Now we are using some libraries we introduced in the class. We are going to use titanic dataset from the Assignment 1.

Read your "train.csv" into local variable, and let's get started

In [ ]:
# Not Part of Grading
library("tidyr")

setwd("directory/to/your/data")
src <- read.csv("train.csv")

### 3-1 Split Name Column
Take a look at the first row of Name column from the titanic dataset. You'll see the input, **Braund, Mr. Owen Harris**. If you go through all the names in the column, you start to realize they are formatted in a specific way that you see "Last Name" followed by the "Title" then the "First Name". We want to extract this "Title" information because they might be correlating with the survival rate.


Split the Name column at ", " and store the first half into *LastName* and second half into a *Temp*(we are splitting this column later). Use separate function from tidyr. Store this new data.frame into a local variable, then print the data.frame.

In [ ]:
src2 <- separate(src, Name, c("LastName", "Temp"), sep = ", ")
src2

Now split the *Temp* column at ". " and name the first half as *Title*, the second half as *FirstName*. Store this new data.frame into a local variable, then print the data.frame. Again, use separate from tidyr. 

You might get a warning message. We'll fix this in the next part so leave it that way.

(Hint: You cannot simple use ". " as a separation. You might need to take an extra step to specify you are refering "." as a character.)

In [ ]:
src3 <- separate(src2, Temp, c("Title", "FirstName"), sep = "\\.")
src3

If you do the last part correctly, you'll get a warning at 1 location. Print the row that is causing a warning. Comapre it with the original data and explain what is happening in a comment section in your code.

In [ ]:
src3[514,]
src[514,]
# Multiple "."s

There are optional parameters in separate( ) to sort this out. Add one parameter to the function so that you ignore the second ".". Store the new data.frame into a local variable and then print it to see if worked.

In [ ]:
Separated <- separate(src2, Temp, c("Title", "FirstName"), sep = "\\.", extra = "merge")
Separated
Separated[514,]

### 3-2 Combine Columns
Now we successfully extract "Title" information. But, we have 2 columns *FirstName* and *LastName*. Let's combine those 2 columns into one column, *FullName* using unite() function from tidyr. Combine *LastName* follewed by *FirstName* and separate them with one space. Store the new data.frame into a local variable and then print it.

In [ ]:
Combined <- unite(Separated, "FullName", c(LastName, FirstName), sep = " ")
Combined

<br>
## Karma
Optional problems for additional practice

### K-1 Snake Matrix
Construct the following “snake” matrix without using any loops. **(Par: 2 lines)**

(Hint: use one of apply families)

![](https://github.com/cdstrainingprogram/cdstrainingprogram.github.io/blob/master/resources/table.png?raw=true)

### K-2 List of Factors
Write a function in R that returns all the factors of a given number (if the given number is less than 1, return NULL). For example, if the given number is 10, then the function should return 1, 2, 5, and 10 in this sequence.

    > findFactors(10)
    [1]  1  2  5 10

As you would have already noticed, the whole point of Unit 2 is to maintain a neat R coding style, and therefore, this problem should be solved without using any loops just like **K-1**. **(Par: 6 lines)**

(Hint: Keep in mind the fact that R is a vectorized language.)