<p style="color:dodgerblue; font-size:30px; font-weight:bold">Assignment 1</p>
<p style="color:black; font-size:50px; font-weight:bold">Intro to R</p>
<br>
<p style="color:red; font-size:18px; font-weight:bold">February 15th, 2017</p>

### Overview
**How to submit this:** Submit this assignment through CMS.

**Objectives:** Become familiar with the data structures and syntax of R, learn how to perform initial analysis on a csv data set, visualize findings using the built-in “plot” function.

## Problem 1 - Data Structure
*Includes : rbind, data.frame, find mean, find std, find min, factor*

As a member of Cornell Data Science, you decided to investigate the distribution of gender across the majors from College of Engineering, using R. Following is a table and stats based on the real data of 2016 Fall class from Cornell Engineering Website. Your task is to create data frame of this table in R and perform initial analysis of the data. 

<table border="2" bordercolor="" cellpadding="3" cellspacing="3" style="background-color: white; border-color: lavender; width: 100%px;">
<tbody>
<tr align="center">
<th><span style="color: purple;"></span></th>
<th><span style="color: purple;">Biomedical Engineering</span></th>
<th><span style="color: purple;">Computer Science</span></th>
<th><span style="color: purple;">Info Science</span></th>
<th><span style="color: purple;">Chemical Engineering</span></th>
<th><span style="color: purple;">Operation Research</span></th>
</tr>
<tr align="center">
<th><span style="color: blue;">Total Male Students</span></th>
<th>23</th>
<th>326</th>
<th>20</th>
<th>88</th>
<th>110</th>
</tr>
<tr align="center">
<th><span style="color: blue;">Total Female Students</span></th>
<th>65</th>
<th>134</th>
<th>23</th>
<th>99</th>
<th>107</th>
</tr>
</tbody></table>

https://www.engineering.cornell.edu/resources/registrar/stats.cfm

### 1-1 Create Vectors

From the table above, create 1 character vector of college majors, 2 numeric vectors that store the number of students by gender. Store each vectors into a variable and name *Major, Male, Female* accordingly.

In [1]:
Major <- c("Biomedical Engineering",
           "Computer Science",
           "Info Science",
           "Chemical Engineering",
           "Operation Research")
Male <- c(23,326,20,88,110)
Female <- c(65,134,23,99,107)

### 1-2 Create a Data.frame

Combine 3 vectors from previous questions and create a Data.frame. Store the object into a variable and name it *GenderDist*. See what *GenderDist* prints. What about *GenderDist[1]*? *GenderDist$Male[1]*?

In [2]:
GenderDist <- data.frame(Major, Male, Female)
print(GenderDist)

                   Major Male Female
1 Biomedical Engineering   23     65
2       Computer Science  326    134
3           Info Science   20     23
4   Chemical Engineering   88     99
5     Operation Research  110    107

In [3]:
print(GenderDist[1])

                   Major
1 Biomedical Engineering
2       Computer Science
3           Info Science
4   Chemical Engineering
5     Operation Research

In [4]:
print(GenderDist$Male[1])

[1] 23

### 1-3 Max, Mean, Std

Use built-in function, max( ), mean( ), sd( ) to find the max value, mean value and the standard deviation of female students from *GenderDist*.

In [5]:
max(GenderDist$Female)
mean(GenderDist$Female)
sd(GenderDist$Female)

[1] 134

[1] 85.6

[1] 42.78785

Now, you decided to add 3 more columns, *Material Science, Mechanical Engineering* and *Unaffiliated*.

<table border="2" bordercolor="" cellpadding="3" cellspacing="3" style="background-color: white; border-color: lavender; width: 100%px;">
<tbody>
<tr align="center">
<th><span style="color: purple;"></span></th>
<th><span style="color: purple;">Material Science</span></th>
<th><span style="color: purple;">Mechanical Engineering</span></th>
<th><span style="color: purple;">Unaffiliated</span></th>
</tr>
<tr align="center">
<th><span style="color: blue;">Total Male Students</span></th>
<th>21</th>
<th>205</th>
<th>746</th>
</tr>
<tr align="center">
<th><span style="color: blue;">Total Female Students</span></th>
<th>32</th>
<th>78</th>
<th>690</th>
</tr>
</tbody></table>

https://www.engineering.cornell.edu/resources/registrar/stats.cfm

### 1-4 Combine 2 Tables

Create a new data frame of the 3 new categories, and store it into a variable. Once you finish creating 2 tables, combine 2 tables and create a new data frame, name it *NewGenderDist*.

In [8]:
Major <- c("Material Science",
           "Mechanical Engineering",
           "Unaffiliated")
Male <- c(21,205,746)
Female <- c(32,78,690)
AddGenderList <- data.frame(Major, Male, Female)
NewGenderList <- rbind(GenderDist, AddGenderList)
print(NewGenderList)

                   Major Male Female
1 Biomedical Engineering   23     65
2       Computer Science  326    134
3           Info Science   20     23
4   Chemical Engineering   88     99
5     Operation Research  110    107
6       Material Science   21     32
7 Mechanical Engineering  205     78
8           Unaffiliated  746    690

### 1-5 Create a New Column

You want to see the difference of enrollment by gender across majors. Create a new column in *NewGenderDist* which stores values by subtracting male enrollment from female enrollment. For example, the difference value of Chemical Engineering should be 11 ( 99 - 88 = 11).

In [9]:
NewGenderList$GenderDiff <- NewGenderList$Female - NewGenderList$Male
print(NewGenderList)

                   Major Male Female GenderDiff
1 Biomedical Engineering   23     65         42
2       Computer Science  326    134       -192
3           Info Science   20     23          3
4   Chemical Engineering   88     99         11
5     Operation Research  110    107         -3
6       Material Science   21     32         11
7 Mechanical Engineering  205     78       -127
8           Unaffiliated  746    690        -56

<br>
## Problem 2 - Initial Analysis
*Includes:  str, summary, subset, na.rm = TRUE*

One of the most infamous shipwrecks in history, the sinking of the RMS Titanic had killed 1502 out of 2224 passengers and crew. Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class. In this assignment, your task is to read in the given csv file and do initial analysis of the dataset using basic feature engineerings and basic visual plots.

### 2-1 Initial Setup

Download “train.csv” dataset from https://www.kaggle.com/c/titanic/data. Use read.csv(“*type file name here*”) function to store the csv file into a variable and name it *Titanic*.
(Note: you can navigate through different directories using setwd(“*type file location here*”) and check your current working directory in your R console using getwd() function.)

In [6]:
Titanic <- read.csv("dataset/titanic.csv")

### 2-2 Summary of the Dataset

R provides a useful summary of a data.frame with str() and summary() functions. How many observations and variables does the Titanic dataset have? How many variables have *Factor* mode? How many missing values does variable *Age* have?

In [7]:
str(Titanic)
summary(Titanic)
# 891 obs. of 12 variables
# 5 variables have Factor mode
# Age has 177 missing variables

'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : Factor w/ 891 levels "Abbing, Mr. Anthony",..: 109 191 358 277 16 559 520 629 417 581 ...
 $ Sex        : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : Factor w/ 681 levels "110152","110413",..: 524 597 670 50 473 276 86 396 345 133 ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : Factor w/ 148 levels "","A10","A14",..: 1 83 1 57 1 1 131 1 1 1 ...
 $ Embarked   : Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...

  PassengerId       Survived          Pclass
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000
 Median :446.0   Median :0.0000   Median :3.000
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

                                    Name         Sex           Age
 Abbing, Mr. Anthony                  :  1   female:314   Min.   : 0.42
 Abbott, Mr. Rossmore Edward          :  1   male  :577   1st Qu.:20.12
 Abbott, Mrs. Stanton (Rosa Hunt)     :  1                Median :28.00
 Abelson, Mr. Samuel                  :  1                Mean   :29.70
 Abelson, Mrs. Samuel (Hannah Wizosky):  1                3rd Qu.:38.00
 Adahl, Mr. Mauritz Nils Martin       :  1                Max.   :80.00
 (Other)                              :885                NA's   :177
     SibSp           Parch             Ticket         Fare
 Min.   :0.000   Min.   :0.0000   1601    :  7   Min.   :  0.00
 1st Qu.:0.000   1st Qu.:0.0000   347082  :  7   1st Qu.:  7.91
 Median :0.000   Median :0.0000   CA. 2343:  7   Median : 14.45
 Mean   :0.523   Mean   :0.3816   3101295 :  6   Mean   : 32.20
 3rd Qu.:1.000   3rd Qu.:0.0000   347088  :  6   3rd Qu.: 31.00
 Max.   :8.000   Max.   :6.0000   CA 2144 :  6   Max.   :512.33
                                  (Other) :852
         Cabin     Embarked
            :687    :  2
 B96 B98    :  4   C:168
 C23 C25 C27:  4   Q: 77
 G6         :  4   S:644
 C22 C26    :  3
 D          :  3
 (Other)    :186

### 2-3 Subset of Data

While skimming through the data, you found values smaller than 1 in *Age* category and decided to extract a vector only containing those values. Perform this operation by using built-in subset() function in R. Your final result should print an age vector with values less than 1.

In [8]:
print(subset(Titanic, Age < 1)$Age)

[1] 0.83 0.92 0.75 0.75 0.67 0.42 0.83

Then create a male-only subset and store it into a variable *MalePassenger*.

In [9]:
MalePassenger <- subset(Titanic, Sex == "male")

### 2-4 Max, Mean, Std

Use built-in function, max( ), mean( ), sd( ) to find the max value, mean value and the standard deviation of Male passengers’ Age. You might need to an extra step from 1-3 in order to get right outputs.

In [10]:
max(MalePassenger$Age, na.rm = TRUE)
mean(MalePassenger$Age, na.rm = TRUE)
sd(MalePassenger$Age, na.rm = TRUE)

[1] 80

[1] 30.72664

[1] 14.6782

<br>
## Karma
Optional problems for additional practice

Karma questions don't count toward your grading (in other words, as long as you finished Problem 1 and 2, your assignment will be complete even if you don't try any Karmas). It is still a good practice to try them if you have time.

### K-1 Largest Prime Factor

Write a function in R that returns the largest prime factor of a given number (if the number is less than 1, return NULL). (Par: 10 lines)

In [15]:
# example solution
# find the largest prime factor of a number
findLPF <- function(x) {
  if (x < 1) return(NULL)
  i <- 2
  while (i <= sqrt(x)) {
    while (x %% i == 0) { x <- x / i }
    i <- i + 1
  }
  if (x == 1) return(i-1)
  else return(x)
}